<!-- #As used in Michael Hartl's Ruby on Rails Tutorial -->
<footer class="modal-footer">
  <small>
    <div class="span12 pagination-centered">
    <%= link_to "About us", about_path  %> |
    <%= link_to "Contact us", contact_path  %> |
    <%= link_to "Terms and Conditions ", tnc_path  %>
	<p>Rubeus logo is the property of Ty Lettau, via Flickr</p>
    </div>
  </small>
</footer>